.App {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.App .logo {
  margin-top: 300px;
  width     : 100px;
}

.App p {
  margin-top   : 50px;
  width        : 300px;
  overflow     : hidden;
  font-size    : 30px;
  font-weight  : 700;
  text-overflow: ellipsis;
  white-space  : nowrap;
}

.anim-glow {
  color            : red;
  animation        : glow 200ms ease-out infinite alternate;
  -webkit-animation: glow 200ms ease-out infinite alternate;
}

@keyframes glow {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes glow {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1.0;
  }
}